extends layout 

block content 

  h1  #{category.name}

  h2 Description:
  p  #{category.description}

  a(href=`/category/${category._id}/update`) Update category  

  h2 Items for this category 

  ul 
    for val in items 
      li #{val.name}

  form(method="POST" action="")
    input(type="hidden" value=`${category._id}` name="del_cat" required='true')
    button(type="submit") Delete 