extends layout 

block content 
  
  h1 #{item.name}

  h3 Category: 
    a(href=item.category.url)  #{item.category.name}

  h3 Author: !{item.author}

  h3 Price: !{item.price}

  h3 Description: 
  
  p  #{item.description}

  h4 
    a(href=`/item/${item._id}/update`) Update Item
  
  form(method="POST" action="")
    input(type="hidden" value=`${item._id}` name="del_item" required='true')
    button(type="submit") Delete 

  

